<!-- Miles Halpine 10607950 -->
<!-- Code from Workshop 9 -->
<!-- View file that informs the admin they have successfully logged in -->
<p style="color: green"><%= notice %></p>
<h3>Administrator Landing Page</h3>